:root {
  --color-primary: #6b8e23;
  --color-primary-light: #9acd32;
  --color-secondary: #7e913b;
  --color-accent: #fff8dc;
  --color-neutral-beige: #cdc8b1;
  --color-whatever: #000;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}
