:root {
  --color-primary: #7e913b;
  --color-primary-light: #9acd32;
  --color-secondary: #6b8e23;
  --color-accent: #90ee90;
  --color-neutral-beige: #f0fff0;
  --color-whatever: #000;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Abril Fatface", monospace;
}

html {
  font-family: var(--font-primary);
}
