.sign-up {
  background-color: white;
  color: var(--color-primary);
}

.bottom-nav {
  background-color: var(--color-primary);
}

.credits {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}
